@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your global CSS */
.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Add to your global CSS */
.loader {
    border-top-color: #6366f1;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}